[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.48"
aioredis = "*"
gspread = "*"
google-api-python-client = "*"
vkbottle = "==4.3.12"
asyncpg = "*"
greenlet = "*"
alembic = "*"
psycopg2 = "*"
pre-commit = "*"
python-jose = "*"
passlib = "*"
fastapi = "==0.101.0"
uvicorn = "*"
python-multipart = "*"
bcrypt = "*"
pydantic = {extras = ["dotenv"], version = "*"}
python-dotenv = "*"
aiogram = "==3.0.0b3"

[dev-packages]

[requires]
python_version = "3.10"
