[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.48"
aioredis = "*"
gspread = "*"
google-api-python-client = "*"
vkbottle = "*"
asyncpg = "*"
greenlet = "*"
alembic = "*"
pydantic = "===1.10.11"
psycopg2 = "*"
pre-commit = "*"
python-jose = "*"
passlib = "*"
fastapi = "==0.101.0"
uvicorn = "*"
python-multipart = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
